* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f5f5f5;
  --cal-bg-color: #323c55;
  --cal-sh-color: #888888;
  --btn-bg-color: #5a6581;
  --ac-bg-color: #c34152;
  --btn-sh-color: #2a3141;
  --btn-text-color: #f9fbf2;
  --line-text-color: #cccccc;
  --model-text-color: #f2b243;
  --hd-bg-color: #212121;
  --sl-bg-color: #494238;
  --sl-pn-color: #625a4d;
  --sc-bg-color: #b1bab7;
  --sc-sh-color: #8d9190;
}

@font-face {
  font-family: 'Digital-7';
  src: url('//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.eot');
  src: url('//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.svg#Digital-7')
      format('svg');
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}
